@font-face {
  font-family: "Slabo 27px";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/slabo27px/v11/mFT0WbgBwKPR_Z4hGN2qgxED1XJ7.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Slabo 27px";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/slabo27px/v11/mFT0WbgBwKPR_Z4hGN2qgx8D1Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Slabo 27px", sans-serif;
  font-size: 20px;
}

.box {
  float: left;
  color: white;
  text-align: center;
}

.box-red {
  width: 100px;
  height: 100px;
  background-color: red;
  padding: 25px;
  margin-top: 30px;
  margin-left: 30px;
}

.box-blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  padding: 25px;
  margin-top: 30px;
  margin-left: 50px;
}

.box-green {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background-color: green;
  clear: both;
  margin-top: 50px;
  margin-left: 30px;
}
